pip~=20.3.3
SetupTools~=51.1.1
stable-baselines3~=0.11.0
Celery~=5.0.5
Flask~=1.1.2
Flask-API~=2.0.0
Flask-Migrate~=2.6.0
Flask-SQLAlchemy~=2.4.4
Flask-Testing~=0.8.1
gym~=0.18.0
pylint~=2.6
pylint-flask~=0.6
pylint-flask-sqlalchemy~=0.2.0
torch~=1.7.1
pytest==6.2.1
pytest-cov~=2.10.1
redis~=3.5.3
tensorflow